NepalTradeCenter/NepalTradeCenter/Service References/NepalTradeCenterWCFProduct/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62456/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62456/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62456/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NepalTradeCenterWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IProductService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_insertProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:insertProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_insertProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_getAllProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_getAllProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_getProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductById" />
  </wsdl:message>
  <wsdl:message name="IProductService_getProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DoWork" message="tns:IProductService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DoWorkResponse" message="tns:IProductService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/insertProduct" message="tns:IProductService_insertProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/insertProductResponse" message="tns:IProductService_insertProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/getAllProduct" message="tns:IProductService_getAllProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/getAllProductResponse" message="tns:IProductService_getAllProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/getProductById" message="tns:IProductService_getProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/getProductByIdResponse" message="tns:IProductService_getProductById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IProductService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/insertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/getAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductById">
      <soap:operation soapAction="http://tempuri.org/IProductService/getProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:62456/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>