NepalTradeCenter/NepalTradeCenter/Service References/NepalTradeCenterWCFCategory/CategoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NepalTradeCenterWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NepalTradeCenterWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:int" />
      <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:int" />
      <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="imageAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="productId" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="sellingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>